/* josefin-sans-regular - latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('../fonts/josefin-sans-v17-latin-ext-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/josefin-sans-v17-latin-ext-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-700 - latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('../fonts/josefin-sans-v17-latin-ext-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/josefin-sans-v17-latin-ext-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* playfair-display-regular - latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('../fonts/playfair-display-v22-latin-ext-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/playfair-display-v22-latin-ext-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* playfair-display-700 - latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('../fonts/playfair-display-v22-latin-ext-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/playfair-display-v22-latin-ext-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cookie-regular - latin */
@font-face {
  font-family: 'Cookie';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('../fonts/cookie-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/cookie-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  /* Typography*/

  --font-primary: "Josefin Sans", sans-serif;
  --font-heading: "Playfair Display", serif;
  --size-primary: 1.25rem;
  --size-secondary: 1.953rem;
  --size-heading: 4.768rem;

  /* Hard Sun*/

  --header-color: #262223;
  --light-black-color: #4c5954;
  --yellow-color: #efb339;
  --light-yellow-color: #f1c989;
  --white-color: #f1f0f1;
  --error-color: #a6384c;
}

/* Dark Wine*/

:root.dark-theme {
  --header-color: #101010;
  --light-black-color: #4c5954;
  --yellow-color: #a6384c;
  --light-yellow-color: #bf9a78;
  --white-color: #f1f0f1;
  --error-color: #efb339;
}

/* Body*/

.before {
  position: fixed;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@-moz-document url-prefix() {
  .before {
    display: none;
  }
}

.logo {
  width: 100px;
  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  fill: currentColor;
  color: var(--white-color);
}

body {
  font-family: var(--font-primary);
  font-size: var(--size-primary);
  line-height: 1.75;
  display: flex;
  flex-direction: column;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Header*/

.hero {
  background-color: var(--header-color);
  display: grid;
  place-content: center;
  padding: 5vh 10vh 10vh 10vh;
}

h1 {
  font-family: var(--font-heading);
  font-weight: 800;
  color: var(--white-color);
  text-align: center;
  font-size: var(--size-heading);
}

h2 {
  font-family: var(--font-heading);
  font-weight: 800;
  color: var(--white-color);
  text-align: center;
  font-size: var(--size-heading);
}

.h-yellow {
  background-color: var(--yellow-color);
  color: var(--header-color);
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
}

p {
  color: var(--white-color);
  font-size: var(--size-primary);
  max-width: 37.5em;
  margin: auto;
}

.p-2 {
  font-size: var(--size-secondary);
  text-align: center;
  margin-block-end: 0;
}

.p-3 {
  text-align: center;
  margin-block-start: 0;
}

/* Social Icon */

.a-social {
  margin: 1rem;
  align-self: center;
}

.social-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5%;
}

.twitter,
.github,
.linked-in,
.code-pen {
  transition: transform 1s ease-in-out;
  vertical-align: middle;
}

.twitter:hover,
.github:hover,
.linked-in:hover,
.code-pen:hover {
  transform: rotate(360deg);
}

/* Slider */

.slider-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 0 5% 0;

  & p {
    font-size: var(--size-primary);
  }
}

.theme-switch {
  text-align: center;
  padding: 1.5%;
}

.theme-slider {
  -webkit-appearance: none;
  width: 50%;
  height: 6px;
  margin-bottom: 18px;
  background: var(--light-black-color);
  cursor: pointer;
  outline: none;
}

@-moz-document url-prefix() {
  .theme-slider {
    margin-bottom: 3px;
  }
}

.theme-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--yellow-color);
  cursor: pointer;
}

/* About-H */

.about {
  font-size: var(--size-primary);
  text-align: left;
}

/* Projekty */

.projekty {
  background-color: var(--yellow-color);
  display: grid;
  place-content: center;
  text-align: left;
  padding: 0 5% 5%;
}

.h-projekty {
  color: var(--header-color);
}

.p-projekty {
  color: var(--header-color);
}

.u-projekty {
  display: grid;
  padding-inline-start: 0;
}

.a-projekty,
.a-projekty:visited,
.a-fotografia,
.a-fotografia:visited {
  color: var(--header-color);
}

li {
  list-style: none;
}

/* Gallery */

.fotografia {
  background-color: var(--yellow-color);
  padding: 5vh 10vh 10vh 10vh;
}

.h-fotografia {
  color: var(--header-color);
}

.p-fotografia {
  color: var(--header-color);
}

.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 1% 10% 5%;
}

.gallery li {
  flex: 1 1 20rem;
}

.g-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Articles */

.clanky {
  background-color: var(--header-color);
  display: grid;
  place-content: center;
  text-align: left;
  padding: 5vh 10vh 10vh 10vh;
}

.h-clanky,
.about-clanky {
  color: var(--white-color);
}

.about-clanky {
  font-size: var(--size-primary);
}

mark {
  background-color: var(--yellow-color);
  padding: 0.8%;
}

.a-frontend,
.a-frontend:visited {
  background-color: var(--yellow-color);
  color: var(--header-color);
  padding: 0.2%;
  text-decoration: none;
}

.clanky li {
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
  color: var(--yellow-color);
}

.ul-clanky {
  padding-inline-start: 0;
  line-height: 2;
}

.a-clanky,
.a-clanky:visited {
  color: var(--yellow-color);
}

/* Kontakt */

.contact {
  background-color: var(--light-black-color);
  display: grid;
  place-content: center;
  text-align: left;
  padding: 5vh 10vh 10vh 10vh;
}

.h-contact, .p-contact {
  color: var(--white-color)
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5vh 0;
}

.mail,
.mail-c {
  display: inline;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--header-color);
  border-radius: 0.6rem;
  padding: 0.6rem 1.2rem;
  font-family: "Cookie", cursive;
  font-size: 1.8rem;
}

.bmc {
  height: 2rem;
  padding-right: 0.5rem;
  vertical-align: middle;
  padding-bottom: 2%;
}

.eml {
  height: 1.8rem;
  padding-right: 0.5rem;
  vertical-align: middle;
  padding-bottom: 2%;
}
/* Footer*/

footer {
  background-color: var(--header-color);
  padding: 2% 0 1% 0;
  display: grid;
  place-content: center;
}

.p-footer,
.p-footer-2 {
  font-size: 1rem;
  text-align: center;
}

/* Thank You */

.contact-thank {
  background-color: var(--yellow-color);
  padding: 20% 0 20%;
}

.h-contact-thank {
  color: var(--header-color);
}

/* Responzívny Design */

@media only screen and (max-width: 1024px) {
  .fotografia {
    padding: 5% 0;
  }

  .gallery {
    padding: 0;
  }

  br {
    display: none;
  }
}

@media only screen and (max-width: 688px) {
  .before {
    display: none;
  }

  .hero {
    padding: 0 5%;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2.5em;
  }

  .slider-div {
    justify-content: unset;
    flex-wrap: unset;
  }

  .fotografia {
    padding: 5% 0;
  }

  .gallery {
    padding: 0;
  }

  .clanky {
    padding: 0 5% 0 0;
    text-align: left;
  }

  .about-clanky {
    padding: 0 5%;
    text-align: left;
  }

  .ul-clanky {
    padding-left: 5%;
  }

  .contact {
    padding: 0 5% 5%;
  }

  br {
    display: none;
  } // zruší zlomy v responzívnej verzii

  .mail {
    margin-top: 5vh;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .grid-safari {
      margin-bottom: -4%;
    }
  }
}
